* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.logo_icon {
  width: 160px;
}

.logo_icon:hover {
  background-color: rgb(82, 81, 81);
  border-radius: 4px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav a {
  padding: 5px;
  color: #3f6ff3;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 150ms ease-in;
}

.nav a:hover {
  background-color: rgb(82, 81, 81);
  border-radius: 4px;
}

.search_box {
  font-size: 20px;
  display: inline-block;
  border: solid 0.2em #3f6ff3;
  position: relative;
  border-radius: 2.5em;
}
.search_box input[type="text"] {
  font-family: inherit;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  padding: 0.3em 2.1em 0.3em 0.4em;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search_box input[type="text"]:focus {
  outline: none;
}
.search_box input[type="text"]:focus,
.search_box input[type="text"]:not(:placeholder-shown) {
  width: 18em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search_box input[type="text"]:focus + button[type="reset"],
.search_box input[type="text"]:not(:placeholder-shown) + button[type="reset"] {
  transform: rotate(-45deg) translateY(0);
  transition: transform 150ms ease-out 800ms;
}
.search_box input[type="text"]:focus + button[type="reset"]:after,
.search_box
  input[type="text"]:not(:placeholder-shown)
  + button[type="reset"]:after {
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms,
    opacity 150ms ease 950ms;
}
.search_box button[type="reset"] {
  background-color: transparent;
  width: 1.4em;
  height: 1.4em;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.55em;
  right: 0.55em;
  transform: rotate(-45deg) translateY(2.2em);
  transition: transform 150ms ease-out 150ms;
}
.search_box button[type="reset"]:before,
.search_box button[type="reset"]:after {
  content: "";
  background-color: #3f6ff3;
  width: 0.3em;
  height: 1.4em;
  position: absolute;
}
.search_box button[type="reset"]:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}
